Source: frc2020-toolchain
Section: devel
Priority: optional
Maintainer: WPILib Developers <wpilib@wpi.edu>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.6

Package: frc2020-toolchain
Architecture: all
Depends: g++-arm-frc2020-linux-gnueabi (>= 7.3), gdb-arm-frc2020-linux-gnueabi (>= 8.0), libc6-frc2020-armel-cross (>= 1:2.24), libc6-dev-frc2020-armel-cross (>= 1:2.24), linux-libc-dev-frc2020-armel-cross, roborio2020-sysroot (>= 1.6), ${misc:Depends}
Recommends: frcmake2020
Description: FRC Toolchain for 2020+ (Metapackage)
 This metapackage depends on all the components of the FRC toolchain.
